@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - accordion
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
6.0 - Media Queries
	6.1 - small display
	6.2 - medium display
	6.3 - large display
--------------------------------------------------------------*/
*, *:after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	font-family: open sans, sans-serif;
}
/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */
html{
	font-size: 14px;
}
/* 1.2 - body copy */

.col-1-5 p:first-child{
	font-weight: 900;
	margin-bottom: 8px;
}
.col-1-5 p:last-child{
	font-weight: 200;
}
/* 1.3 - Buttons */
#btn, nav ul li a{
	text-decoration: none;
}
#btn{
	text-transform: uppercase;
}
#btn:hover{
	border: 4px solid #7cc242;
}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
nav ul li{
	display: inline-block;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
.col-1-5, .col-1-5 p, form{
	margin: 0 auto;
}
.fa-facebook-f, .fa-instagram, .fa-twitter, nav ul li, #btn{
	padding: 10px;
}
.col-1-5 p:first-child, .col-1-5 p:last-child{
	width: 45%;
}
#services, #aboutus, #chooseus, #contact{
	padding-top: 20px;
}
#services{
	padding-bottom: 40px;
}
form{
	display: block;
	width: 60%;
}
.fa-clipboard-check, .fa-clipboard-list, .fa-globe, .fa-handshake, .fa-lock, .fa-sun{
	padding-left: 185px;
}
/*--------------------------------------------------------------
4.0 - media
-------------------------------------------------------------- */
#bg-image{
	background: url(../img/bg-image.jpg) no-repeat;
	background-color: rgba(0,0,0,0.48);
	height: 400px;
	padding-top: 145px;
}

/*--------------------------------------------------------------
5.0 - utility
-------------------------------------------------------------- */
/* 5.1 background colors */
footer{
	background-color: #000;
	padding-bottom: 10px;
	
}
.bg-green, #btn{
	background-color: #7cc242;
}
/* 5.2 text-colors */
.fa-facebook-f, .fa-twitter, .fa-instagram, footer, .bg-green, .col-1-5 p, #btn, nav ul li a{
	color: #fff;
}
.fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover{
	color: #7cc242;
}
/* 5.3 font sizes */
h1, .col-1-5 p:last-child{
	font-size: 1rem;
}
.fa-clipboard-check, .fa-clipboard-list, .fa-globe, .fa-handshake, .fa-lock, .fa-sun, .fa-facebook-f, .fa-instagram, .fa-twitter, .col-1-5 p:first-child{
	font-size: 2rem;
}
/* 5.4 alignments */
.push-right{
	float: right;
}
h2, h3, p, h4, .fa-clipboard-check, .fa-clipboard-list, .fa-globe, .fa-handshake, .fa-lock, .fa-sun{
	text-align: center;
}
footer h3, form p{
	text-align: left;
}

/*--------------------------------------------------------------
6.0 - media queries
-------------------------------------------------------------- */
@media screen and (min-width: 480px){
	.wrapper, .col-1-5 p:first-child, .col-1-5 p:last-child{
		width: 95%;
	}
	.fa-facebook-f, .fa-instagram, .fa-twitter{
		text-align: center;
	}
	.accordion-toggle {
		cursor: pointer;
	}
  .accordion-content {
	  display: none;
	}
  .accordion-content.default {
	  display: block;
	}
}
@media screen and (max-width: 480px){
	.wrapper, .col-1-3, .col-1-2, .col-1-4, .col-1-5, .col-1-5 p:first-child, .col-1-5 p:last-child{
		width: 100%;
	}
	footer h3, h4, .fa-facebook-f, .fa-instagram, .fa-twitter{
		text-align: center;
	}
	.accordion-toggle {
		cursor: pointer;
	}
  .accordion-content {
	  display: none;
	}
  .accordion-content.default {
	  display: block;
	}
	
}
